.home.card{
  background:url("../web-data/img/homeBg.jpg");
  background-size: cover;
}

.home-menu{
  margin-top: 300px;
  .y-btn{
    margin-top:16px;
    font-size: 32px;
    font-family: 隶书;
    letter-spacing: 6px;
  }
}