.y-btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  border-radius: 4px;
  padding: 8px 16px;
  box-sizing: border-box;
  font-size: 14px;
  min-width: 10px;
  min-height: 10px;
  background: #0170fe;
  color:#fff;
  transition: background-color 0.4s;
  &:hover{
    background: #348dfe;
  }
}