body{
  margin:0;
}

.flex{
  display: flex;
  &.y{
    flex-direction: column;
  }
  &.center{
    justify-content: center;
    align-items: center;
  }
  //主轴居中
  &.center-m{
    justify-content: center;
  }
  //辅轴居中
  &.center-a{
    align-items: center;
  }
}

.card{
  width:1280px;
  height:720px;
  border-radius: 6px;
  background: rgba(230,238,232,0.65);
  box-shadow: 3px 3px 24px #ddd;
}